.start {
  color: rgba(0, 255, 0, 1);
  margin:  1.5rem auto;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 255, 0, 1);
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.3) 2px 2px;
  width: 70%;
}
