.logo {
  text-align: center;
  width: 80%;
  min-width: 360px;
  margin: 0.25rem auto;
}

.logo h1 {
  font-size: 90%;
  font-weight: 900;
  color: rgba(0, 255, 0, 1);
  text-shadow: 4px 4px rgba(0, 0, 0, 0.8);
}

@media (min-width: 350px) {
  .logo h1 {
    font-size: 2rem;
  }
}

@media (min-width: 770px) {
  .logo h1 {
    font-size: 4rem;
  }
}
