.boxLogowanie {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 340px;
  margin: 0.25rem auto;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(0, 255, 0, 1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 0 0 0;
}

.form-control label {
  color: rgba(0, 255, 0, 1);
  margin-right: 5px;
}

.form-control input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 3px;
  height: 1.25rem;
}

.form-actions {
  padding: 5% 0 0 0;
}

.form-actions button {
  width: 100%;
  height: 1.5rem;
  background: rgba(0, 255, 0, 1);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  cursor: pointer;
}

.uwaga {
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0 1rem;
  border-radius: 5px;
  background: rgba(255, 0, 0, 1);
  box-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.uwaga button {
  font-weight: bold;
  margin-bottom: 0.5rem;
  background: rgba(255, 237, 0, 0.95);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  height: 1.5rem;
  width: 4rem;
  box-shadow: 2px 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}

.uwaga button:hover {
  background: rgb(0, 120, 5, 1);
}
